<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <form action="/order" method="POST">
      <input type="submit" value="order"/><br/>
      <label class="item">
        <span>Burger</span>
        <img src="/images/burger.jpeg"></img>
        <input type="checkbox" name="burger"/>
      </label>
      <label class="orderwith">
        <span>with Bacon</span>
        <img src="/images/bacon.jpeg"></img>
        <input type="checkbox" name="bacon"/>
      </label>
      <label class="item">
        <span>Fries</span>
        <img src="/images/fries.jpeg"></img>
        <input type="checkbox" name="fries"/>
      </label>
      <label class="item">
        <span>No Coke, Pepsi</span>
        <img src="/images/pepsi.jpeg"></img>
        <input type="checkbox" name="pepsi"/>
      </label>
    </form>
    <div class='elapsed'>Elapsed Order Time: <span><%= elapsed %></span></div>
    <% if (typeof result !== 'undefined') { %>
      <pre>
<%= JSON.stringify(result, null, 4) %>
      </pre>
    <% } %>
    <% if (typeof error !== 'undefined') { %>
      <pre>
<%= error.stack -%>
      </pre>
    <% } %>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
$('input[type=submit]').on('click', function () {
  var startTime = new Date().getTime();
  $('pre').empty();
  setInterval(function () {
    var elapsed = ((new Date().getTime() - startTime)/1000.0).toFixed(3, 10);
    $('.elapsed span').html(elapsed);
  }, 50);
});
    </script>
  </body>
</html>
